body{
	margin: 0px;
	color: #FFF;
	background-color: #000;
}

#map{
	height: 100vh;
    width: 70vw;
    float: left;
    padding: 0%;
    margin: 0px;
}

#input{
	margin: 3%;
	padding: 1%;
	width: 70%;
}

#input:focus {
    border-color: #4d90fe;
}

.box{	
	height: 50vh;
    width: 28vw;
    float: right;
    box-sizing: border-box;
    padding: 2%;
    border-style:solid;
    border-width: .5em;
}

#details{
	background-color: #607D8B;
	border-color: #37474F;
}

#legend{
	background-color: #4CAF50;
	border-color: #37474F;
}

#zillow{
  min-height: 2vw;
  background-image: url("../pics/zillowlogo.gif");
  float:right;
  position: fixed;
  bottom: 10px;
}

#school_img{	
  background-image: url("../pics/school.png");
  padding: 1%;
}

#crime_img{
	background-image: url("../pics/crime.png");
	padding: 1%;
}